{% extends 'dashboard/base.html' %} 
{% load static %} 
{% block content %}

<section class="container text-center">
  <h3>Welcome to Your Events</h3>

  <hr> <br>
  <div class="row">
    {% for event in events %}
    <div class="col-md-4">
      <div class="card mb-4">
        {% with random_image=images|random %}
        <img class="card-img-top" src="{{ random_image }}" alt="{{ event.title }}">
        {% endwith %}
        <div class="card-body">
          <h5 class="card-title">{{ event.title }}</h5>
          <p class="card-text">{{ event.location }}</p>
          <p class="card-text">{{ event.date }}</p>
          <a href="{{ event.event_link }}" class="btn btn-primary">Event Link</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

{% endblock content %}
